.container {
  padding: 10%;
}
.details {
  padding: 2rem;

 
 
}
.details_container {
  width: 40rem;
  height: 35rem;
  color: black;
  color: whitesmoke;
  background-color: #233247;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.7);
}

.trailer_container {
  width: 40rem;
  height: 35rem;

background-color: blue;

}

.details_headings {
  font-size: 1.3rem;
  font-weight: 100;
  color: orange;
}
.buttons_container {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 2rem;
}

.buttons {
  width: 7rem;
  height: 2rem;
  
  border-radius: 0.2rem;
  border: none;
  background-color: orange;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.2rem;
}
.skeleton {
  animation: skeleton_loading 1s linear infinite alternate;
}
.controller{
  display: flex ;

 
}


@keyframes skeleton_loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.top{
  background-color:#e6e8e6;
  color: black;
  padding:2rem;
  h1{
    color: black;
  }
}