.box{
  align-items: center;
  display: flex;
  justify-content: center;
 padding: 2rem;
 background-color: rgba(4, 4, 4, 0.764);
 height: 100%;
}

.content{
  background-color: black;
margin: 2rem;
  padding: 2rem;
  width: 70%;
  border-radius: 1rem;

}

.screen {
  
  text-align: center;
  background-color: black;
  margin: auto;
  color: white;

  margin-top: 2rem;
  width: 100%;
}


.seats_container {
  background-color: whitesmoke;
  display: inline-grid;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.2rem;
  text-align: center;
  align-items: center;
 padding:2rem;
 border-radius: 1rem;

}
.greyed {
  border: solid 1px black;
  width: 100px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content:center;
  border-radius: 5px;
  cursor: pointer;
  background-color: lime;
}
.block {
  border: solid 1px black;
  width: 100px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content:center;
  border-radius: 5px;
  cursor: pointer;
}
.container {

width: 100%;
align-items: center;
display: flex;
justify-content: center;

  
}


.main_container {
justify-content: center;
  display: flex;
  flex-direction: column;
}

.radius {
  border-radius: 10px;
}

span{
  align-items: center;
}


.dateBlock {
  border-radius: .4rem;
  background-color: whitesmoke;
  color: black;
  width: 5rem;
  height: 5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.timeBlock{
  // background-color: gray;
  background-color: whitesmoke;
  border-radius:.2rem;
  padding: .3rem;
  display: flex;
}
.time{
  border-radius:.2rem;
  width: 10rem;
  height: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  cursor: pointer;
  &:hover{
    background-color: white;
   
  }
  
}

.selectedTime{
  background-color: white;
  border-bottom: solid 5px orange;
  border-radius:.2rem;
  width: 10rem;
  height: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  
}

.seats{
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.buttons_container{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
  color: white;
}


.buttons{
  width: 7rem;
  height: 3rem;
  border-radius: .2rem;
  border:none;
  background-color: orange;
  cursor: pointer;
}
.details{
  display: flex;
  gap: 1rem;

}


.free{
  background-color: white;
  border: solid 1px black;
  width: 100px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content:center;
  border-radius: 5px;
}

.taken{
  border: solid 1px black;
  width: 100px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content:center;
  border-radius: 5px;
 background-color: grey;
}

