

.container {
  display: flex;
  gap: 1rem;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15%;

}
.main_container{
  margin: 1rem;
}
h1{
  text-align: center;
}