.home {
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
    font-size: 30px;
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
   flex-direction: column;
    margin-top: 4rem;

  }
.buttons{


}

.txt_cen{
    text-align: center;
}
.primary{
    width: 40rem;
    background-color: grey;
    padding: 1rem;
    align-items: center;
    display: flex;
    color: white;
    height: 10rem;
    font-size: 60px;
    justify-content: center;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}