.home {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  // font-size: 30px;
  display: flex;

  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  overflow-x: scroll;
  gap: 0.5rem;
}
.buttons {
}

.txt_cen {
  text-align: center;
}
.primary {
  width: 40rem;
  background-color: grey;
  padding: 1rem;
  align-items: center;
  display: flex;
  color: white;
  height: 10rem;
  font-size: 60px;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
