*{
    margin: 0;
    padding: 0;
}

:root {
    --bg: #011032;
    --gray50: #d8d8d8;
    --gray100: rgb(35, 35, 35);
    --gray150: #011032;
    --white: #071e52;
    --transition: 0.5s ease-in-out;
    --orange100: #f58f37;
    --orange150: #c96915;
  }
  

.active {
    background-color: orange;
    border-radius: .2rem;
    width: 5rem;
    padding: .5rem;
    display: flex;
    color: white;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}




