*{
    margin: 0;
    padding: 0;
}

:root {
    --primary: red;
}

.active {
    background-color: orange;
    border-radius: .2rem;
    width: 5rem;
    padding: .5rem;
    display: flex;
    color: white;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}




