.nav {
  height: 4rem;
  background-color: #192433;

  display: flex;

  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.538);
  flex-shrink: 15;
}

@media screen and (max-width: 600px) {
  .nav {


  }
  .nav__bar{
    display: none;
    .li{
        display: none;
    }
  }
}

.nav__bar {
  display: flex;
  gap: 1rem;
  list-style: none;
  text-decoration: none;

  .li {
    cursor: pointer;
    width: 5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
  }
}
